/* ==========================================================================
   defi / component
   TOUT ton code CSS ici
   ========================================================================== */

// Variables disponibles
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #ec7d05;
    --color-bg-primary: #212121;

    --font-primary: 'Quicksand', sans-serif;
}

// Votre code
